body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 60px;
  font-weight: bold;

}

h2, p, ul, li {
  font-family: sans-serif;

}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;

}
ul.header {
  background-color: #111;
  padding: 0;

}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;

  
}
.content {
  background-color: #FFF;
  padding: 20px;
  align-items: center;


}
.content h2 {
  padding: 0;
  margin: 0;
  align-items: center;

  
}
.content li {
  margin-bottom: 10px;
  align-items: center;

  
}

.active {
  background-color: #c79c00 ;
}

.wrapper {
  padding: 5px 20px;
  border: 0;
}

.wrapper fieldset {
  margin: 20px 0;
  border:0;
}

.create {
  max-width: 400px;
  padding: 20px;
  margin: 0 left;
  text-align: left;
  align-items: left;
}

.create label{
  padding: 10px;
  text-align: left;
  display: block;
  font-weight:bold;
  font-family: sans-serif;
  font-size: 15px;
}

.create h2{
  font-size: 20px;
  color: #111;
  margin-bottom: 20px;
  text-align: left;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  border: 10px solid #FFCC00;
  box-sizing: border-box;
  display: block;
  font-size: 17px;
}

.create button {
  background: #FFCC00;
  border: 0;
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;


  margin-top: 0px;
  margin-left: 10px;
  width: auto;
}

.field {
  border: 0;
  font-size: 25px;
  display:inline;
}

.grid-container {
  display: grid;
  gap: 0px;
  background-color: #ffffff;
  padding: 20px;
}


.grid-item {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.item1 {
  grid-column: 1;
  grid-row: 1;
}

.item1 label {
  text-align: left;
  display: block;
  font-weight:bold;
  font-family: sans-serif;
  font-size: 15px;
}
.item1 h2{
  font-size: 20px;
  color: #111;
  margin-bottom: 10px;
  text-align: left;
}
.item1 input, .item1 textarea, .item1 select {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  border: 10px solid #FFCC00;
  box-sizing: border-box;
  display: block;
  font-size: 17px;
}

.item2 {
  grid-column: 1;
  grid-row: 2;
}

.item2 label {
  text-align: left;
  display: block;
  font-weight:bold;
  font-family: sans-serif;
  font-size: 15px;
}
.item2 h2{
  font-size: 20px;
  color: #111;
  margin-bottom: 20px;
  text-align: left;
}
.item2 input, .item2 textarea, .item2 select {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  border: 10px solid #FFCC00;
  box-sizing: border-box;
  display: block;
  font-size: 17px;
}

.item3 {
  grid-column: 1;
  grid-row: 3;
}

.item3 label {
  text-align: left;
  display: block;
  font-weight:bold;
  font-family: sans-serif;
  font-size: 15px;
}
.item3 h2{
  font-size: 20px;
  color: #111;
  margin-bottom: 20px;
  text-align: left;
}
.item3 input, .item3 textarea, .item3 select {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  border: 10px solid #FFCC00;
  box-sizing: border-box;
  display: block;
  font-size: 17px;
}

.item4 {
  grid-column: 2;
  grid-row: 1/4;
}
.item4 label {
  text-align: left;
  display: block;
  font-weight:bold;
  font-family: sans-serif;
  font-size: 15px;
}
.item4 h2{
  font-size: 20px;
  color: #111;
  margin-bottom: 20px;
  text-align: left;
}
.item4 input, .item4 textarea, .item4 select {
  width: 100%;
  height: auto;
  min-height:350px;
  padding: 10px 15px;
  margin: 10px 0;
  border: 10px solid #FFCC00;
  box-sizing: border-box;
  display: block;
  font-size: 17px;
  align-items: flex-start;
}

.grid-container button{
  background: #FFCC00;
  grid-column: 2;
  grid-row: 3;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  
  margin: auto;
  width: auto;
  height: auto;
}


.grid-container textarea {
  grid-column: 2;
  grid-row: 1/2;
  width:80%;
  height: 100%;
  border:10px solid #FFCC00;
  font-size: 20px;
  padding: 25px;
  margin: auto;
  font-weight: bolder;
  background-color: #ffffff;
  line-height: 1.5em;
}


@media only screen and (max-width: 768px) {
  .item4 {
    grid-column: 1;
    grid-row: 4;
  }
}

.grid-containerA {
  display: grid;
  gap: 0px;
  background-color: #ffffff;
  padding: 20px;
}



.grid-item {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.item1A {
  grid-column: 1;
  grid-row: 1;
}

.item1A label {
  text-align: left;
  display: block;
  font-weight:bold;
  font-family: sans-serif;
  font-size: 15px;
}
.item1A h2{
  font-size: 20px;
  color: #111;
  margin-bottom: 10px;
  text-align: left;
}
.item1A input, .contact textarea, .contact select {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  border: 10px solid #FFCC00;
  box-sizing: border-box;
  display: block;
  font-size: 17px;
}

.item2A {
  grid-column: 1;
  grid-row: 2;
}

.item2A label {
  text-align: left;
  display: block;
  font-weight:bold;
  font-family: sans-serif;
  font-size: 15px;
}
.item2A h2{
  font-size: 20px;
  color: #111;
  margin-bottom: 20px;
  text-align: left;
}
.item2A input, .contact textarea, .contact select {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  border: 10px solid #FFCC00;
  box-sizing: border-box;
  display: block;
  font-size: 17px;
}

.item3A {
  grid-column: 1;
  grid-row: 3;
}

.item3A label {
  text-align: left;
  display: block;
  font-weight:bold;
  font-family: sans-serif;
  font-size: 15px;
}
.item3A h2{
  font-size: 20px;
  color: #111;
  margin-bottom: 20px;
  text-align: left;
}
.item3A input, .contact textarea, .contact select {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  border: 10px solid #FFCC00;
  box-sizing: border-box;
  display: block;
  font-size: 17px;
}

.item4A {
  grid-column: 1;
  grid-row: 4;
}

.item4A label {
  text-align: left;
  display: block;
  font-weight:bold;
  font-family: sans-serif;
  font-size: 15px;
}
.item4A h2{
  font-size: 20px;
  color: #111;
  margin-bottom: 20px;
  text-align: left;
}
.item4A input, .item4A textarea, .item4A select {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  border: 10px solid #FFCC00;
  box-sizing: border-box;
  display: block;
  font-size: 17px;
}

.grid-containerA button{
  grid-column: 1;
  background: #FFCC00;
  border: 0;
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: auto;
  width: auto;
}

.grid-containerA h1 {
  grid-column: 2;
  grid-row: 1;
  font-size: 30px;
  background-color: #9ccc65;
  margin: auto;
  flex: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 55px;
  padding-right: 55px;
  border-radius: 5px;
  color: white
}
.grid-containerA textarea {
  grid-column: 2;
  grid-row: 2/4;
  width:80%;
  height: 100%;
  border:10px solid #9ccc65;
  font-size: 20px;
  padding: 15px;
  font-weight: bolder;
  background-color: #ffffff;
  margin: auto;
  flex: auto;
  line-height: 1.5em;
}